.section-full{
    background: #222222;
    padding: 80px 0;
    .single-footer-widget {
        margin-bottom: 30px;
        h6{
            font-size: 14px;
            margin-bottom: 20px;
            line-height: 1.5em;
            margin-top: 0;
            font-weight: 600;
        }
        p{
            color: #777777;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5em;
            margin-top: 0;
            margin-bottom: 16px;
        }
        .footer-nav {
            margin-top: -7px;
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin-top: 8px;
                a{
                    text-decoration: none;
                    outline: 0;
                    color: #777777;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 1.5em;
                }
            }
        }
        .subscription{
            input {
                width: 100%;
                line-height: 40px;
                border: 1px solid #333333;
                padding: 0 50px 0 25px;
                background: transparent;
                color: $white;
                font-weight: 300;
                &:focus{
                    box-shadow: none !important;
                }
            }
            .newsletter-btn {
                width: 42px;
                height: 40px;
                line-height: 42px;
                text-align: center;
                background: transparent;
                color: $white;
                position: absolute;
                top: 1px;
                right: 0;
                border: 1px solid $theme-color;
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                text-transform: none;
                cursor: pointer;
            }
        }
    }
    .subscription{
        position: relative;
    }
    .footer-bottom {
        padding-top: 40px;
        border-top: 1px solid #eee;
        p{
            color: #777777;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5em;
            a{
                text-decoration: none;
                outline: 0;
                color: #777777;
            }
        }
    }
    .footer-social {
        margin-right: -5px;
        a {
            font-size: 18px;
            margin: 0 5px;
            padding: 0 5px;
            display: inline-block;
            color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
            outline: 0;
        }
    }
}