#hero{
    background: url(../images/banner.jpg) no-repeat center center/cover;
    position: relative;
    .overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .overlay-bg {
        background: -moz-linear-gradient(left, rgba(60, 64, 143, 0.95) 0%, rgba(91, 97, 207, 0.95) 100%);
        background: -webkit-linear-gradient(left, rgba(60, 64, 143, 0.95) 0%, rgba(91, 97, 207, 0.95) 100%);
        background: linear-gradient(to right, rgba(60, 64, 143, 0.95) 0%, rgba(91, 97, 207, 0.95) 100%);
    }
    .banner-content{
        p{
            color: $white;
            margin-bottom: 16px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
        }
        h1{
            font-size: 36px;
            line-height: 1.5em;
            margin-bottom: 0;
            margin-top: 0;
            font-weight: 600;
            color: $white;
            @include media-breakpoint-down(sm){
                font-size: 26px;
            }
        }
        .banner-btn {
            color: $white !important;
            margin-top: 60px;
            line-height: 40px;
            padding: 0 40px;
            border-radius: 20px;
            background: transparent;
            border: 1px solid $theme-color;
            color: #222222;
            display: inline-block;
            font-weight: 600;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                background: $theme-color;
                color: $white;
            }
        }
    }
}