#studio-area{
    position: relative;
    margin-bottom: 80px;
    @include media-breakpoint-down(md){
        margin-bottom: 40px;
    }
    &::before{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background: #404598;
        @include media-breakpoint-down(md){
            width: 100%;
        }
    }
    &:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background: url(../images/studio-bg.jpg) no-repeat center center/cover;
        z-index: 1;
        @include media-breakpoint-down(md){
            display: none;
        }
    }
    .studio-content{
        p{
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5em;
            color: $white;
        }
        h2{
            font-size: 36px;
            font-weight: 600;
            margin-top: 0;
            line-height: 1.1;
            margin-bottom: 20px;
            @include media-breakpoint-down(sm){
                font-size: 26px;
            }
        }
        p{
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5em;
            color: $white;
            margin-top: 0;
            margin-bottom: 30px;
        }
        .primary-btn {
            line-height: 40px;
            padding: 0 40px;
            border-radius: 20px;
            background: transparent;
            border: 1px solid $theme-color;
            font-size: 14px;
            color: #222222;
            display: inline-block;
            font-weight: 600;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            text-decoration: none;
            cursor: pointer;
            i {
                margin-left: 15px;
            }
            &:hover{
                background-color: $theme-color;
                color: $white;
                transition: all 0.3s ease 0s;
                i{
                    color: $white;
                    transition: all 0.3s ease 0s;
                }
            }
        }
    }
}
.section-full {
    padding: 150px 0;
}