<footer class="section-full">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">About Agency</h6>
                    <p>The world has become so fast paced that people don’t want to stand by reading a page of
                        information, they would much rather look at a presentation and understand the message. It has
                        come to a point </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">Navigation Links</h6>
                    <div class="d-flex">
                        <ul class="footer-nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Portfolio</a></li>
                        </ul>
                        <ul class="ml-3 footer-nav">
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">Newsletter</h6>
                    <p>For business professionals caught between high OEM price and mediocre print and graphic output,
                    </p>
                    <div id="mc_embed_signup">
                        <form class="subscription d-flex justify-content-center">
                            <input type="email" name="EMAIL" placeholder="Email address" required="">
                            <div style="position: absolute; left: -5000px;">
                                <input type="text" value="">
                            </div>
                            <button type="submit" class="newsletter-btn" name="subscribe"><i class="fas fa-location-arrow"></i></button>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-between align-items-center">
            <p class="footer-text m-0">Copyright © 2017 | All rights reserved to <a href="#">Datarc inc.</a> Designed by
                <a href="#">Colorlib</a>.</p>
            <div class="footer-social d-flex align-items-center">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-dribbble"></i></a>
                <a href="#"><i class="fab fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="single-footer-widget col-lg-12 col-md-12 m-auto">
                <ul class="social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fas fa-rss"></i></a></li>
                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                </ul>
                <div class="text-center">
                    <p>Copyright © 2084 Company Name</p>
                </div>
            </div>
        </div>
    </div>
</footer> -->